.container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  padding: 40px 20px;
}

.container h1 {
  color: #333333;
}

form.registerTicketForm {
  width: 800px;
  margin: 24px auto;

  background: #FFFFFF;
  border: 1px solid #D3E2E5;
  border-radius: 20px;

  padding: 32px 40px;

  overflow: hidden;
}

form.registerTicketForm fieldset {
  border: 0;
}

form.registerTicketForm .inputBlock + .inputBlock {
  margin-top: 18px;
}

form.registerTicketForm .inputBlock label {
  display: flex;
  color: #8FA7B3;
  margin-bottom: 8px;
  line-height: 24px;
}

form.registerTicketForm .inputBlock input {
  width: 100%;
  height: 48px;
  padding: 0 16px;
  background: #F5F8FA;
  border: 1px solid #D3E2E5;
  border-radius: 20px;
  outline: none;
  color: #5C8599;
  font-size: 16px;
}

form.registerTicketForm .inputBlock .buttonSelect {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

form.registerTicketForm .inputBlock .buttonSelect button {
  height: 48px;
  background: #F5F8FA;
  border: 1px solid #D3E2E5;
  color: #5C8599;
  cursor: pointer;
}

form.registerTicketForm .inputBlock .buttonSelect button.active {
  background: #EDFFF6;
  border: 1px solid #A1E9C5;
  color: #37C77F;
}

form.registerTicketForm .inputBlock .buttonSelect button.activeFalse {
  background: #faebeb;
  border: 1px solid #F7B3B3;
  color: #ed4d4d;
}

form.registerTicketForm .inputBlock .buttonSelect button:first-child {
  border-radius: 20px 0 0 20px;
}

form.registerTicketForm .inputBlock .buttonSelect button:last-child {
  border-radius: 0 20px 20px 0;
}

form.registerTicketForm button.saveButton {
  margin-top: 32px;
  width: 150px;
  height: 48px;
  border: 0;
  cursor: pointer;
  border-radius: 20px;
  color: #FFFFFF;
  font-weight: 800;
  background: #ffd666;
  float: right;
  margin-right: 20px;
  font-size: 16px;

  transition: background-color 0.2s;
}

form.registerTicketForm button.saveButton:hover {
  opacity: 0.9;
}


/* Mobile */
@media (max-width: 700px) {
  .container {
    width: 700px;
  }

  .container h1 {
    font-size: 2.7rem;
  }

  form.registerTicketForm {
    width: 100%;
    margin: 24px 0;
  }

  form.registerTicketForm .inputBlock label {
    font-size: 26px;
  }

  form.registerTicketForm .inputBlock input {
    width: 100%;
    height: 85px;
    padding: 0 16px;
    font-size: 26px;
  }

  form.registerTicketForm .inputBlock .buttonSelect button {
    height: 85px;
    font-size: 22px;
  }

  form.registerTicketForm button.saveButton {
    width: 100%;
    height: 90px;
    font-size: 26px;
    margin-top: 64px;
    float: none;
  }
}
